body {
  padding-top: 50px;
  padding-left: 5%;
  font-size: 16px;
  background-image: url("images/USCapitolBuilding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
/*format the search form*/
fieldset {  
  border: 0;
  text-align: center;
 }

.input-label {
   display: block;
   text-align: center;
   padding-left: 5%;
   padding-top: 2%;
   color: #D0D1DC;
 }

input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.2em;
  text-align: left;
  padding: 15px 15px;
  background-color: #D0D1DC; 
}
  
button {
  background-color: #D0D1DC;
  color: #2A2544;
  font-size: 1em;
  width: 50%;
  padding: 5px 5px;
  margin: 15px 15px 15px 15px;
  text-align: center;
}

.hidden {
  display: none;
 } 

h1 {
  color: #D0D1DC;
  padding-top 1em;
}
/*format the results*/

h2 {color: #D0D1DC;
  font-size: 2em;
  padding-left: 3%;
}

h3 {
  font-size: 1.5em;
}

.container {
  background-color: #2A2544;
  display: flex;  
  text-align: center;
}

.rep {
  background-color: #2A2544;
  text-align: center;
  border: 3px solid #2A2544;
  color: #D0D1DC;
}

.js-search-results {
  text-align: center;
  display: inline-flex;
  width: 100%;
}

.reps {
  text-align: center;
  display: flex;
  width: 100%;
}
img {
  width: 100%; 
  max-height: 25%;
}

.row {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.name-box1 {
  padding-bottom: 1.2em;
}
.info-box, .tweets {
  background-color: #D0D1DC;
  color: #2A2544;
  text-align: center;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.53em;
}

.error {
  font-size: 1.5em;
  background-color: #D0D1DC;
  padding: 3em 3em;
  border: 3px solid red;
}
.col-4 {
     width: 95%;
     border: 2px solid red;
     flex-wrap: wrap;
}

/*For non-mobile devices*/
@media only screen and (min-width: 640px) {
  .col-4 {
     width: 31%;
   }
   .container {
    width: 30%;
   }
 }