body {
  padding-top: 20px;
  font-size: 8px;
  background-image: url("images/US-Capitol.jpg");
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 20px;
}


/*format the search form*/

form {
  background-color: #ECECEC;
  opacity: .9;
  color: #2934B1;
  width: 95%;
  margin: auto;
  border-radius: 0.5%;
}

.office-image {
  width: 40%;
}

fieldset {
  border: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0.75;
}

.legend-box {
  max-width: 100%;
  padding-top: 0;
}

.address-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
}

.street-box,
.address-end,
.city-box {
  width: 90%;
}

.input-label {
  display: flex;
  text-align: center;
  padding-left: 2%;
  color: #2934B1;
  font-size: 1.2rem;
}

input {
  box-sizing: border-box;
  font-size: 1.2rem;
  text-align: center;
  padding: 15px 15px;
  display: flex;
  border: 3px solid #2934B1;
  border-radius: 7px;
  width: 100%;
}

input.line1,
label.input-label.line1 {
  width: 100%;
}

input.city,
label.input-label.city {
  width: 70%;
  display: flex;
  font-size: 1.2rem;
}

#state-dropdown {
  margin: auto;
  display: flex;
  padding: 15%;
  color: black;
  font-size: 1.2rem;
  border: 3px solid #2934B1;
  border-radius: 7px;
}

input.zip,
label.input-label.zip {
  width: 85%;
}

.state-box {
  object-fit: contain;
}

.zipcode-box {
  width: 60%;
  padding-left: 30px;
}

.address-end {
  display: flex;
  flex-direction: row;
}

.button-box {
  text-align: center;
}

button {
  background-color: #2934b1;
  color: white;
  font-size: 1rem;
  width: 45%;
  padding: 10px 15px;
  margin: 15px 15px 35px 15px;
  text-align: center;
  border-radius: 7px;
  align-items: center;
  cursor: pointer;
}

h1 {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}


/*format the results*/

h2 {
  color: #D0D1DC;
  font-size: 1.1rem;
}

h3 {
  font-size: 1.0rem;
}

.rep {
  background-color: #2D325B;
  text-align: center;
  color: #D0D1DC;
  display: inline-block;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.js-search-results {
  font-size: 1.5em;
  text-align: center;
}

row {
  display: flex;
  text-align: center;
  align-items: flex-start;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  margin-top: 50px;
  margin-bottom: 20px;
}

.image {
  justify-content: center;
  font-size: 1rem;
}

.image-box {
  height: 300px;
}

.headshot {
  width: 180px;
  padding-top: 10%;
}

section {
  display: flex;
}

.name-title-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
}

ul {
  padding-left: 10%;
  justify-content: left;
  width: 100%;
}

li {
  text-align: left;
  padding-left: 3%;
  font-size: 1.2rem;
}

.name-box {
  padding-bottom: 1.2em;
  display: inline-block;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
}

.info-box,
.tweets {
  background-color: #D0D1DC;
  color: #2A2544;
  text-align: center;
  padding-top: 1%;
}

.tweets {
  font-size: 1.0em;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

.tweets-button {
  /* padding: 22px 5px; */
  width: 25%;
}

.fa {
  padding: 5px;
  font-size: 16px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.error {
  font-size: 1.5em;
  background-color: #D0D1DC;
  padding: 3em 3em;
  border: 3px solid red;
}

.col-4 {
  width: 95%;
  border: 3px solid #AF0001;
}

header {
  display: flex;
  align-items: center;
}

.tweets-button,
.new-search-button {
  color: #2D325B;
  background-color: #D0D1DC;
  font-weight: bold;
  padding: 2%;
}

.new-search {
  background-color: #2D325B;
  text-align: center;
  border: 3px solid #2A2544;
  color: #D0D1DC;
  margin-bottom: 1%;
  margin-top: 5px;
  width: 95%;
  position: absolute;
  top: 0px;
  right: 8px;
  height: 64px;
  display: block;
  border-radius: 7px;
  border: 2px solid #AF0001
}

.new-search:hover {
  opacity: 0.7;
}

.tweets-button:hover {
  opacity: 0.5;
}


/*For non-mobile devices*/

@media only screen and (min-width: 640px) {
  .col-4 {
    width: 31%;
  }
  .col-6 {
    width: 47%;
  }
  .new-search {
    width: 15%;
    right: 20px;
  }
  .new-search-button {
    padding: 1%;
  }
  form {
    width: 30%;
    margin-left: 30px;
  }
  .legend-box {
    width: 80%;
  }
  .address-box {
    flex-direction: column;
  }
  input.city,
  label.input-label.city {
    width: 100%;
  }
  #state-dropdown {
    padding: 15%;
    box-sizing: border-box;
  }
  .zipcode-box {
    width: 37%;
  }
  row {
    flex-direction: row;
  }
  .image {
    display: block;
  }
  .headshot {
    padding-top: 10%;
  }
  .name-box {
    display: block;
    width: 100%;
  }
  .state {
    width: 5%;
  }
  .tweets {
    padding: 2%;
    width: 100%;
  }
  ul {
    padding-left: 30%;
    justify-content: left;
    width: 50%;
  }
}